<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">

<!-- hero area -->
<section class="hero-area" id="parallax">
  <div class="container-6">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <div class='box'>
          <span id="typed-strings">{{ site.data.settings.hero.hero-title }}</span>
          <h1 id='typed' class="text-white font-tertiary" style='margin-top: 120px; text-align: right'></h1>

          <p>I'm a Rails lover with more than 10 years of working experiences <br/>with Rails projects, from Rails 2 and Ruby 1.8 <br/> It's a long journey and wonderful working projects!</p>

          <a href='https://github.com/jackyvo' class='btn btn-primary'><img src="/assets/images/icons/github.png" width='50'></img>Github</a>

          <a href='https://www.upwork.com/freelancers/~017717e1a44bd1c12f' class='btn btn-info'><img src="/assets/images/icons/upwork.png" width='50'></img>Upwork</a>
        </div>
      </div>
    </div>
  </div>
  <div class="layer-bg w-100"></div>
  <!-- social icon -->
  <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
    {% for social in site.data.settings.social %}
    <li class="mb-3"><a class="text-white" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
    {% endfor %}
  </ul>
  <!-- /social icon -->
</section>
<!-- /hero area -->


<script>
  var typed = new Typed('#typed', {
     strings: ['Hello! <br/> I’m Jacky <br> Ruby on Rails Expert'],
     typeSpeed: 60,
     fadeOut: true,
     cursorChar: '_'
  });
</script>
