<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">

<!-- hero area -->
<section class="hero-area" id="parallax">
  <div class="container-6">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white font-tertiary" style='margin-top: 120px; text-align: right'>{{ site.data.settings.hero.hero-title }}</h1>
      </div>
    </div>
  </div>
  <div class="layer-bg w-100"></div>
  <!-- social icon -->
  <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
    {% for social in site.data.settings.social %}
    <li class="mb-3"><a class="text-white" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
    {% endfor %}
  </ul>
  <!-- /social icon -->
</section>
<!-- /hero area -->